<h2>Éttermek</h2>

<mat-grid-list cols="1" rowHeight="150">
  <mat-grid-tile *ngFor="let restaurant of _restaurants">
    <mat-card class="restaurant-list-element">
      <mat-card-title>
        {{ restaurant.name }}
      </mat-card-title>
      <mat-card-subtitle>
        <ul class="restaurant-data">
          <li>Telefon: {{ restaurant.phone }} </li>
          <li>Cím: {{ restaurant.address }} </li>
        </ul>
      </mat-card-subtitle>
      <mat-card-actions align="center">
        <a mat-flat-button color="primary" href="restaurants/{{ restaurant.id }}">
          Tovább &#187;
        </a>
        <a *ngIf="authService.isAdmin" class="divider"></a>
        <a class="delete" *ngIf="authService.isAdmin" mat-flat-button color="primary" (click)="delete(restaurant.id)">
          Törlés &#187;
        </a>
        
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>