<h2 *ngIf="all">Összes rendelés</h2>
<h2 *ngIf="!all">Rendeléseim</h2>
<div class = "alert" *ngIf="n == 0" align="center">
    <a mat-flat-button href="restaurants" color="primary">Rendeljen etelt most!</a>
</div>
<mat-grid-list cols="3" rowHeight="300" >
  <mat-grid-tile *ngFor="let order of _myOrders">
    <mat-card class="order-list-element">
      <mat-card-title>
        {{ order.time }}
      </mat-card-title>
      <mat-card-subtitle>
        <ul class="order-data">
          <li *ngIf="all">Rendelő: {{ order.user.username }} </li>
          <li>Étel: {{ order.food.name }} </li>
          <li>Ár: {{ order.food.price * order.qty }} </li>
          <li>Adag: {{ order.qty }} </li>
          <li>Étterem: {{ order.restaurant.name }} </li>
          <li>Telefon: {{ order.restaurant.phone }} </li>
        </ul>
      </mat-card-subtitle>
      <mat-card-actions align="center">
        <button class="delete" mat-flat-button color="primary" type="submit" (click)="delete(order.id)" width="200">
          Törlés &#187;
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>