.food-data {

    color: rgb(158, 158, 158);
    padding: 10px;
    margin: 0;
    text-align: center;
    font-style: italic;
}
.food-price {
    font-size: 20px;
    color: #972828;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    font-style: normal;
}

.food-data li {
    list-style-type: none;
}

.mat-card.food-list-element {
    box-shadow: none;
}

.food-list-element > mat-card-subtitle,
.food-list-element > mat-card-actions {
    margin: 0;
    background-color: #eee;
    padding: 5px !important;
    transition: 1s;
    -webkit-transition: 1s;
}

.food-list-element:hover > mat-card-subtitle {
    background-color: rgb(255, 214, 214);
    transform: scale(1.05);
}

.food-list-element > mat-card-subtitle {
    border-radius: 25px;
}

.food-list-element mat-card-title{
    padding: 0;
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(64, 66, 39);
    text-align: center;
    font-variant: small-caps;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.food-list-element > mat-card-actions {
    background-color: transparent;
}