<h2>{{ _restaurant.name }} - Ételek</h2>

<mat-grid-list cols="1" rowHeight="350">
  <mat-grid-tile *ngFor="let food of _foods">
    <mat-card class="food-list-element">
      <mat-card-title>
        {{ food.name }}
      </mat-card-title>
      <mat-card-subtitle>
        <ul class="food-data">
          <li>Ára: {{ food.price }} </li>
          <img src="{{ food.image }}" height="200" width="200">
          <br>
           {{ food.description }} 
        </ul>
      </mat-card-subtitle>
      <mat-card-actions align="right">
        <a mat-flat-button color="primary" href="restaurants">
          Rendelés &#187;
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
